$bg-color: rgb(4, 6, 29);
$primary: rgb(100,100,236);
$primary-a1: rgb(100,100,236, .1);
$primary-a4: rgb(100,100,236, .4);
$box-main: rgba(124, 124, 246, .5);

//$bg-color: rgb(252, 202, 210);
//$primary: rgb(248, 63, 95);
//$primary-a1: rgb(248, 63, 95, .1);
//$primary-a4: rgb(248, 63, 95, .4);
//$box-main: rgb(252, 106, 130);

//$bg-color: rgb(4, 6, 29);
//$primary: rgb(0,33,255);
//$primary-a1: rgb(0,33,255, .1);
//$primary-a4: rgb(0,33,255, .4);
//$box-main: rgb(0,33,255);